*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html body{
    width: 100%;
    height: 100%;

}
#cursor{
    height: 25px;
    width: 25px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 90;
}
#cursorBlur{
    height: 400px;
    width: 400px;
    background-color: #c3f34044;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(50px);
}
.nav{
    width: 100%;
    height: 100px;
    /* background-color:red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
    font-weight: 600;
    position: fixed;
    z-index: 99;
}
.nav img{
    margin-left: 80px;
    height: 75px;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.545);
}
#page1{
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    flex-direction: column;
    z-index: 10;
    
}
#page1 h1{
font-size: 120px;
font-weight: 900;
position: relative;
box-shadow: ;

}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 1px #95c11e;

    
}
#page1 h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 15px;
     font-weight: 500;
    width:40%;
    text-align: center;

}
#page2{
    height: 100vh;
    width: 100%;
    z-index: 10;
    
}